
<div *ngIf = "!(authservice.user | async)?.uid">
        <h1>Welcome</h1>
        <!--
    <div>
        <button mat-raised-button color="primary" [routerLink]="['/login']"> Log In </button>
    </div>
    <div>
        <p>Or Sign Up Now!</p>
        <button mat-raised-button color="primary" [routerLink]="['/signup']"> Sign Up </button>
    </div>
    -->

</div>
<br><br>
<div *ngIf = "(authservice.user | async)?.uid">
    <h1>Welcome</h1>  
           <!-- <button mat-raised-button color="primary" [routerLink]="['/docform']"> Move to App page </button> -->
</div>
<div *ngFor = "let user of users$"> {{user.email}}</div>

