<mat-card>
        <h1>New book</h1>
        <form #bookForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="example-container">
            <mat-form-field>
                <input 
                    matInput placeholder="Book title"
                    [(ngModel)] = "title"
                    name = "title">
            </mat-form-field> 
            <br><br>
            <mat-form-field>
                    <input 
                        matInput placeholder="Book author"
                        [(ngModel)] = "author"
                        name = "author">
            </mat-form-field>                   
            <div >
                <button mat-raised-button color="primary" [disabled]="!bookForm.form.valid">{{buttonText}}</button>
                <br><br>
                <button mat-raised-button [routerLink]="'/books'" >Cancel</button>
            </div>
          </div>
        </form>
        </mat-card>