<mat-card>
    <h1>Sign Up</h1>
    <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field>
            <input 
                matInput placeholder="Enter Email"
                [(ngModel)] = "email"
                name = "email">
        </mat-form-field> 
        <br><br>
        <mat-form-field>
                <input 
                    matInput placeholder="Select a Password"
                    [(ngModel)] = "password"
                    name = "password">
        </mat-form-field>
                             
        <div >
            <button mat-raised-button color="primary" 
                    [disabled]="!signupForm.form.valid">
                     Sign Up
            </button>
        </div>
      </div>
    </form>
    </mat-card>
    <div style="color:red">
      {{authservice.err}}
    </div>