<mat-accordion>
        <mat-expansion-panel *ngFor = "let post of posts$">
          <mat-expansion-panel-header>
            <mat-panel-title>
            {{post.id}}. {{post.title}}
            </mat-panel-title>
          </mat-expansion-panel-header>
            {{post.body}}

            <br>  <br>
            <div *ngFor = "let comment of comments$">
                    <div *ngIf ="post.id == comment.postId">
                      Comment: {{comment.body}}
                    </div>          
                </div>
            
            </mat-expansion-panel>
      </mat-accordion>